n8n/workflows/W4_project_completed.json
{
  "name": "Dairect — W4 project.completed → Gmail",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "dairect": {
      "version": "2",
      "requires_env": ["DAIRECT_WEBHOOK_SECRET"],
      "n8n_nodes_base_version": "2.16.x",
      "hmac_canonical": "${timestamp}.${nonce}.${rawBody}",
      "notes": "rawBody:true + nonce dedupe + HTML escape in Compose Email. Respond 200 before Gmail send. PII: saveDataSuccessExecution=none to avoid persisting client email in executions."
    }
  },
  "tags": [{ "name": "dairect" }],
  "staticData": null,
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dairect/project-completed",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true,
          "ignoreBots": false,
          "binaryPropertyName": "data"
        }
      },
      "id": "b1111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "dairect-w4-project-completed"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// W1과 동일한 HMAC + nonce dedupe 로직. 수정 시 양쪽 동기화 필요.\nconst crypto = require('crypto');\n\nconst MAX_SKEW_MS = 5 * 60 * 1000;\nconst GRACE_MS = 60 * 1000;\nconst NONCE_TTL_MS = MAX_SKEW_MS + GRACE_MS;\n\nconst item = $input.first();\nconst headers = (item.json && item.json.headers) || {};\nconst bin = item.binary && item.binary.data;\nconst rawBase64 = bin && bin.data;\n\nfunction fail(reason) {\n  return [{ json: { verified: false, reason } }];\n}\n\nif (!rawBase64) return fail('raw_body_missing');\nlet raw;\ntry {\n  raw = Buffer.from(rawBase64, 'base64').toString('utf8');\n} catch (e) {\n  return fail('raw_body_decode_failed');\n}\n\nlet body;\ntry {\n  body = JSON.parse(raw);\n} catch (e) {\n  return fail('body_not_json');\n}\n\nconst ts = String(headers['x-dairect-timestamp'] || '');\nconst nonce = String(headers['x-dairect-nonce'] || '');\nconst sigHeader = String(headers['x-dairect-signature'] || '');\nconst secret = $env.DAIRECT_WEBHOOK_SECRET || '';\n\nif (!secret) return fail('secret_not_configured');\nif (!/^[0-9]+$/.test(ts)) return fail('timestamp_missing_or_invalid');\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(nonce)) return fail('nonce_format');\n\nconst tsNum = Number(ts);\nif (!Number.isFinite(tsNum)) return fail('timestamp_not_finite');\nconst now = Date.now();\nif (Math.abs(now - tsNum) > MAX_SKEW_MS) return fail('timestamp_out_of_window');\n\nif (!sigHeader.startsWith('sha256=')) return fail('signature_format');\nconst providedHex = sigHeader.slice('sha256='.length);\nif (!/^[0-9a-f]{64}$/i.test(providedHex)) return fail('signature_hex_invalid');\n\nconst expected = crypto.createHmac('sha256', secret).update(`${ts}.${nonce}.${raw}`).digest('hex');\nlet ok = false;\ntry {\n  const a = Buffer.from(providedHex, 'hex');\n  const b = Buffer.from(expected, 'hex');\n  ok = a.length === b.length && crypto.timingSafeEqual(a, b);\n} catch (e) {\n  ok = false;\n}\nif (!ok) return fail('signature_mismatch');\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.seen || typeof staticData.seen !== 'object') staticData.seen = {};\nfor (const k of Object.keys(staticData.seen)) {\n  if (now - staticData.seen[k] > NONCE_TTL_MS) delete staticData.seen[k];\n}\nif (staticData.seen[nonce]) return fail('replay_detected');\nstaticData.seen[nonce] = now;\n\nreturn [{ json: { verified: true, body } }];\n"
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "verify-ok",
              "leftValue": "={{ $json.verified }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            },
            {
              "id": "email-present",
              "leftValue": "={{ $json.body.data.client_email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3333333-3333-4333-8333-333333333333",
      "name": "Verified & Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": { "responseCode": 200 }
      },
      "id": "b4444444-4444-4444-8444-444444444444",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// M2: HTML escape — 고객명/프로젝트명에 <, >, &, \", ' 포함 시 HTML 컨텍스트에서 안전.\n// Subject는 이메일 헤더라 HTML escape 불필요하나, 제어문자 제거 필요.\nfunction escHtml(s) {\n  return String(s == null ? '' : s).replace(/[&<>\"']/g, (ch) => (\n    { '&': '&amp;', '<': '&lt;', '>': '&gt;', '\"': '&quot;', \"'\": '&#39;' }[ch]\n  ));\n}\nfunction stripCtrl(s) {\n  return String(s == null ? '' : s).replace(/[\\u0000-\\u001F\\u007F]/g, ' ');\n}\n\nconst d = ($json && $json.body && $json.body.data) || {};\nconst projectName = d.project_name || '';\nconst contactName = d.client_contact_name || '';\nconst companyName = d.client_company_name || '';\nconst greetTarget = contactName || companyName || '고객';\nconst email = d.client_email || '';\nconst completedAt = d.completed_at || '';\n\nconst subject = stripCtrl(`[Dairect] ${projectName} 프로젝트가 완료되었습니다`);\nconst html = `<!doctype html><html><body style=\"font-family:-apple-system,Pretendard,sans-serif;line-height:1.6;color:#111827;max-width:560px;margin:0 auto;padding:24px;\">` +\n  `<h1 style=\"font-size:20px;margin:0 0 16px;\">프로젝트가 완료되었습니다</h1>` +\n  `<p>${escHtml(greetTarget)}님,</p>` +\n  `<p><strong>${escHtml(projectName)}</strong> 프로젝트가 성공적으로 완료되었습니다. 그동안 함께 해주셔서 감사합니다.</p>` +\n  `<p style=\"background:#F9F9F7;padding:16px;border-radius:8px;font-size:14px;color:#4B5563;\">완료 일시: ${escHtml(completedAt)}</p>` +\n  `<p>마일스톤/산출물/후속 문의는 언제든 회신 메일로 남겨주세요.</p>` +\n  `<p style=\"margin-top:32px;color:#6B7280;font-size:13px;\">— Dairect</p>` +\n  `</body></html>`;\n\nreturn [{ json: { to: email, subject, html } }];\n"
      },
      "id": "b5555555-5555-4555-8555-555555555555",
      "name": "Compose Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "b6666666-6666-4666-8666-666666666666",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=skipped_or_unauthorized: {{ $json.reason || 'no_email' }}",
        "options": { "responseCode": 200 }
      },
      "id": "b7777777-7777-4777-8777-777777777777",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 520]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Verify HMAC", "type": "main", "index": 0 }]]
    },
    "Verify HMAC": {
      "main": [[{ "node": "Verified & Has Email?", "type": "main", "index": 0 }]]
    },
    "Verified & Has Email?": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }],
        [{ "node": "Respond Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Respond 200": {
      "main": [[{ "node": "Compose Email", "type": "main", "index": 0 }]]
    },
    "Compose Email": {
      "main": [[{ "node": "Gmail Send", "type": "main", "index": 0 }]]
    }
  }
}
