n8n/workflows/W5_portal_feedback_received.json
{
  "name": "Dairect — W5 portal_feedback.received → Gmail",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "none",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "dairect": {
      "version": "1",
      "requires_env": ["DAIRECT_WEBHOOK_SECRET"],
      "n8n_nodes_base_version": "2.16.x",
      "hmac_canonical": "${timestamp}.${nonce}.${rawBody}",
      "notes": "W4 기반 복제. saveDataErrorExecution:'none' — 실패 실행에도 pmEmail/messagePreview PII 저장 금지 (W4와 핵심 차이). rawBody:true + nonce dedupe + Compose Email Code에서 HTML escape/SMTP 헤더 injection 방어. Respond 200 먼저 → Gmail 이후 (continueOnFail)."
    }
  },
  "tags": [{ "name": "dairect" }],
  "staticData": null,
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dairect/portal-feedback-received",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true,
          "ignoreBots": false,
          "binaryPropertyName": "data"
        }
      },
      "id": "c1111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "dairect-w5-portal-feedback-received"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// W1/W4와 동일한 HMAC + nonce dedupe 로직. 수정 시 3곳 동기화 필요.\nconst crypto = require('crypto');\n\nconst MAX_SKEW_MS = 5 * 60 * 1000;\nconst GRACE_MS = 60 * 1000;\nconst NONCE_TTL_MS = MAX_SKEW_MS + GRACE_MS;\n\nconst item = $input.first();\nconst headers = (item.json && item.json.headers) || {};\nconst bin = item.binary && item.binary.data;\nconst rawBase64 = bin && bin.data;\n\nfunction fail(reason) {\n  return [{ json: { verified: false, reason } }];\n}\n\nif (!rawBase64) return fail('raw_body_missing');\nlet raw;\ntry {\n  raw = Buffer.from(rawBase64, 'base64').toString('utf8');\n} catch (e) {\n  return fail('raw_body_decode_failed');\n}\n\nlet body;\ntry {\n  body = JSON.parse(raw);\n} catch (e) {\n  return fail('body_not_json');\n}\n\nconst ts = String(headers['x-dairect-timestamp'] || '');\nconst nonce = String(headers['x-dairect-nonce'] || '');\nconst sigHeader = String(headers['x-dairect-signature'] || '');\nconst secret = $env.DAIRECT_WEBHOOK_SECRET || '';\n\nif (!secret) return fail('secret_not_configured');\nif (!/^[0-9]+$/.test(ts)) return fail('timestamp_missing_or_invalid');\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(nonce)) return fail('nonce_format');\n\nconst tsNum = Number(ts);\nif (!Number.isFinite(tsNum)) return fail('timestamp_not_finite');\nconst now = Date.now();\nif (Math.abs(now - tsNum) > MAX_SKEW_MS) return fail('timestamp_out_of_window');\n\nif (!sigHeader.startsWith('sha256=')) return fail('signature_format');\nconst providedHex = sigHeader.slice('sha256='.length);\nif (!/^[0-9a-f]{64}$/i.test(providedHex)) return fail('signature_hex_invalid');\n\nconst expected = crypto.createHmac('sha256', secret).update(`${ts}.${nonce}.${raw}`).digest('hex');\nlet ok = false;\ntry {\n  const a = Buffer.from(providedHex, 'hex');\n  const b = Buffer.from(expected, 'hex');\n  ok = a.length === b.length && crypto.timingSafeEqual(a, b);\n} catch (e) {\n  ok = false;\n}\nif (!ok) return fail('signature_mismatch');\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.seen || typeof staticData.seen !== 'object') staticData.seen = {};\nfor (const k of Object.keys(staticData.seen)) {\n  if (now - staticData.seen[k] > NONCE_TTL_MS) delete staticData.seen[k];\n}\nif (staticData.seen[nonce]) return fail('replay_detected');\nstaticData.seen[nonce] = now;\n\nreturn [{ json: { verified: true, body } }];\n"
      },
      "id": "c2222222-2222-4222-8222-222222222222",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "verify-ok",
              "leftValue": "={{ $json.verified }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            },
            {
              "id": "pm-email-present",
              "leftValue": "={{ $json.body.data.pmEmail }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Verified & Has pmEmail?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": { "responseCode": 200 }
      },
      "id": "c4444444-4444-4444-8444-444444444444",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// W5 Compose Email — 고객 피드백 PM 알림.\n// PII: pmEmail(SMTP To 헤더), projectName(HTML), messagePreview(HTML 140자).\n// 방어: stripCtrl(To/Subject 헤더 injection) + escHtml(본문 XSS) + encodeURIComponent(URL path).\nfunction escHtml(s) {\n  return String(s == null ? '' : s).replace(/[&<>\"']/g, (ch) => (\n    { '&': '&amp;', '<': '&lt;', '>': '&gt;', '\"': '&quot;', \"'\": '&#39;' }[ch]\n  ));\n}\nfunction stripCtrl(s) {\n  return String(s == null ? '' : s).replace(/[\\u0000-\\u001F\\u007F]/g, ' ');\n}\n\nconst d = ($json && $json.body && $json.body.data) || {};\nconst to = stripCtrl(d.pmEmail || '');\nconst projectName = stripCtrl(d.projectName || '프로젝트');\nconst projectId = stripCtrl(d.projectId || '');\nconst preview = String(d.messagePreview || '').slice(0, 140);\n\nconst subject = stripCtrl(`[${projectName}] 고객 피드백이 도착했어요`);\nconst baseRaw = $env.DAIRECT_DASHBOARD_BASE_URL || 'https://dairect.kr';\nconst baseUrl = baseRaw.endsWith('/') ? baseRaw.slice(0, -1) : baseRaw;\nconst dashboardUrl = `${baseUrl}/dashboard/projects/${encodeURIComponent(projectId)}?tab=feedback`;\nconst html = `<!doctype html><html><body style=\"font-family:-apple-system,Pretendard,sans-serif;line-height:1.6;color:#111827;max-width:560px;margin:0 auto;padding:24px;\">` +\n  `<h1 style=\"font-size:20px;margin:0 0 16px;\">${escHtml(projectName)} 프로젝트에 새 피드백이 도착했습니다</h1>` +\n  `<pre style=\"background:#F9F9F7;padding:12px;border-radius:8px;white-space:pre-wrap;font-family:-apple-system,Pretendard,sans-serif;font-size:14px;color:#111827;margin:16px 0;\">${escHtml(preview)}</pre>` +\n  `<p style=\"color:#4B5563;\">전체 내용과 읽음 처리는 대시보드에서 확인해주세요.</p>` +\n  `<p style=\"margin:24px 0;\"><a href=\"${escHtml(dashboardUrl)}\" style=\"display:inline-block;background:#4F46E5;color:#ffffff;padding:10px 20px;border-radius:8px;text-decoration:none;font-weight:500;\">대시보드로 이동 →</a></p>` +\n  `<p style=\"margin-top:32px;color:#6B7280;font-size:13px;\">— Dairect</p>` +\n  `</body></html>`;\n\nreturn [{ json: { to, subject, html } }];\n"
      },
      "id": "c5555555-5555-4555-8555-555555555555",
      "name": "Compose Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "c6666666-6666-4666-8666-666666666666",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=skipped_or_unauthorized: {{ $json.reason || 'no_pm_email' }}",
        "options": { "responseCode": 200 }
      },
      "id": "c7777777-7777-4777-8777-777777777777",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 520]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Verify HMAC", "type": "main", "index": 0 }]]
    },
    "Verify HMAC": {
      "main": [[{ "node": "Verified & Has pmEmail?", "type": "main", "index": 0 }]]
    },
    "Verified & Has pmEmail?": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }],
        [{ "node": "Respond Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Respond 200": {
      "main": [[{ "node": "Compose Email", "type": "main", "index": 0 }]]
    },
    "Compose Email": {
      "main": [[{ "node": "Gmail Send", "type": "main", "index": 0 }]]
    }
  }
}
